/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/09/2018, 19:54:12
    Author     : Jonas
*/

@font-face{
    font-family: noto-sans-regular;
    src: url(../font/NotoSans-Regular.ttf);
}

* {
    font-family: noto-sans-regular;
    color: black;
    font-size: 1rem;
}

body{
    background-color:#f2f2f2;
}

a:hover{
    text-decoration: none;
}

header{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #adadad; 
}

/*Usado para a estilização do menus iniciais*/
.item-card{
    background-color: #f2f2f2;
}

.item-card a:hover{
  background-color:#FE6B00;
  border-radius: 2px;
}

.item-card a{
  background-color:#585657;
  border-radius: 2px;
}