/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/09/2018, 19:54:12
    Author     : Jonas
*/

@font-face{
    font-family: noto-sans-regular;
    src: url(../font/NotoSans-Regular.ttf);
}

* {
    font-family: noto-sans-regular;
    font-size: 1rem;
}

body{
    background-color:#FFF;
}

a:hover{
    text-decoration: none;
}

header{
    height: 7rem;
    align-self: center;
    background-color: #585657; 
}

header h1{
    font-size: 2.5rem;
    color: #FFF;
    font-weight: bold;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 16%;
    text-transform: uppercase;
    float: left;
    background: url(../img/barra.jpg) no-repeat bottom left;
}

/*Usado para a estilização do menus iniciais*/

.item-card a:hover{
    background-color:#FE6B00;
    border-radius: 2px;
}

.item-card a{
    color: #FFF !important;
    background-color:#585657;
    border-radius: 2px;
}

.trava{
    clear: both;
}
.font-2x{
    font-size: 1.2rem;
}