@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");


/* Basic */

	header p {
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.075em;
		margin-top: -0.5em;
		text-transform: uppercase;
	}

	header.major > :last-child {
		border-bottom: solid 3px  #FE6B00;
		display: inline-block;
		margin: 0 0 2em 0;
		padding: 0 0.75em 0.5em 0;
	}

	header.main > :last-child {
		margin: 0 0 1em 0;
	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #3d4449;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #ffffff;
		border-radius: 0.375em;
		border: none;
		border: solid 1px rgba(210, 215, 217, 0.75);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
                        font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(210, 215, 217, 0.75);
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		height: 2.75em;
	}

	input[type="radio"]{
		margin-right: 0.3rem
	}

	textarea {
		padding: 0.75em 1em;
	}

	#menu ul {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: #3d4449;
		letter-spacing: 0.075em;
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		text-transform: uppercase;
                height: 64%;
	}

		#menu ul a, #menu ul span {
			border-bottom: 0;
			color: inherit;
			cursor: pointer;
			display: block;
			font-size: 0.9em;
			padding: 0.625em 0;
		}

			#menu ul a:hover, #menu ul span:hover {
				color:  #FE6B00;
			}

			#menu ul a.opener, #menu ul span.opener {
				-moz-transition: color 0.2s ease-in-out;
				-webkit-transition: color 0.2s ease-in-out;
				-ms-transition: color 0.2s ease-in-out;
				transition: color 0.2s ease-in-out;
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				position: relative;
			}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
					transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
					color: #9fa3a6;
					content: '\f078';
					position: absolute;
					right: 0;
				}

				#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
					color: #f56a6a;
				}

				#menu ul a.opener.active + ul, #menu ul span.opener.active + ul {
					display: block;
				}

				#menu ul a.opener.active:before, #menu ul span.opener.active:before {
					-moz-transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					-ms-transform: rotate(-180deg);
					transform: rotate(-180deg);
				}

	#menu > ul > li {
		border-top: solid 1px rgba(210, 215, 217, 0.75);
		margin: 0.5em 0 0 0;
		padding: 0.5em 0 0 0;
	}

		#menu > ul > li > ul {
			color: #585657;
			display: none;
			margin: 0.5em 0 1.5em 0;
			padding-left: 1em;
		}

			#menu > ul > li > ul a, #menu > ul > li > ul span {
				font-size: 0.8em;
			}

			#menu > ul > li > ul > li {
				margin: 0.125em 0 0 0;
				padding: 0.125em 0 0 0;
			}

		#menu > ul > li:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}
                .total{
                    text-align: right;
                }